<mat-toolbar >
   

    <mat-toolbar-row>
      <button mat-icon-button> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">home</mat-icon></button>
      <div class="font"><span> <font face = "Comic sans MS" size =" 5">    Welcome to Our Shopping</font></span></div>
      <span class="example-spacer"></span>
      <input matInput type="text">
      <button mat-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">child_friendly</mat-icon></button>
      <button mat-icon-button> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon></button>
      <button mat-icon-button> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings_power</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  
