<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<footer class="footer-distributed">

   

        <h3><i class="fa fa-address-book-o" aria-hidden="true"></i>    PRAVEENKUMAR.K<span></span></h3>

       
        

        <ul class="list">
           <li> <i class="fa fa-whatsapp" aria-hidden="true"> 8610980749</i></li>
            <li><i class="fa fa-envelope" aria-hidden="true">praveen.mca043@gmail.com</i>

        </ul>

</footer>