<html>
  <head>
    <title></title>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="one/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="label">Welcome....<i class="fa fa-smile-o" aria-hidden="true"></i></div>
    <div class="images" id="images"></div>
 












<div class="hero__item set-bg" data-setbg="assets/img/banner/banner.jpg" style="background-image: url(&quot;assets/img/banner/banner.jpg&quot;);">
    <div class="hero__text">
        <span>FRUIT FRESH</span>
        <h2>Vegetable <br>100% Organic</h2>
        <p>Free Pickup and Delivery Available</p>
    </div>
</div>


<div class="banner">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                   
                   
                   <img src="assets/img/banner/banner-1.jpg" alt=""><img src="assets/img/banner/banner-2.jpg" alt="">
              
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="assets/img/banner/banner-2.jpg" alt=""> <img src="assets/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> </body>
</html>