
* {
    margin: 0;
    padding: 0;
  }
  .title{
      color: #fff;
  }
  
  p{
    text-align: center;
    font-size: 2em;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    font-family: "roboto";
    color: #fff;
    
  }
  
  section {
    height: 10%;
    padding: 2em 0;
  }
  
  .section1 {
    background-color: coral;
  
  }
  
  .section2 {
  }
  
  
  
  .title {
    text-align: center;
    font-size: 2em;
  }
  
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
  }
  
  .img-wrapper {
    width: 50%;
  }
  
  .img{
    width: 300px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
  }
  
  .text-wrapper{
    width: 50%;
  }
  
  .text {
    margin-bottom: 1em;
  }
  
  .btn-wrapper {
    margin-top: 2em;
  }
  
  
  
  .btn:hover {
    background-color: #fff;
    color: coral;
  
  }
  
  
  
.wrapper {
    margin: 50px;
  }
  img {
    max-width: 10%;
    display: block;
  }
  .frame1 {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #AAA, 0 0 0 6px white;
  }
  .frame2 {
    box-shadow: 0 0 0 1px black;
    border-radius: 1px;
  }
  .frame3 {
    box-shadow: 0 0 0 5px white, 0 0 0 6px #AAA, 0 0 0 10px #CCC, 0 0 0 11px #AAA;
  }
  


table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}


