<section class= "section1">
    <h1 class= "title">My profile</h1>
 
  
    
        <div class="wrapper">
            <img src="assets/img/PRAVEEN.jpg" class="frame3" />
          </div>
  </section><br>

  <section>
  <h1 class= "title">Objectives</h1><br>
  <p>Well motivated to work in a professional environment with a growing organization and to put in best efforts for the technical
       enhancements of organization and myself.</p>
    </section>
<table>
    <thead>
      <tr>
        <th>COURSE</th>
        <th>INSTITUTION</th>
        <th>BOARD</th>
        <th>YEAR OF PASSING</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-column="First Name">MCA</td>
        <td data-column="Last Name">Dr.MCET</td>
        <td data-column="Job Title">ANNA UNIVERSITY</td>
        <td data-column="Twitter">2021</td>
      </tr>
      <tr>
        <td data-column="First Name">BSc(IT)</td>
        <td data-column="Last Name">STC</td>
        <td data-column="Job Title">BHARATHIAR UNIVERSITY</td>
        <td data-column="Twitter">2019</td>
      </tr>
      <tr>
        <td data-column="First Name">HSC</td>
        <td data-column="Last Name">CHSS</td>
        <td data-column="Job Title">STATE BOARD</td>
        <td data-column="Twitter">2016</td>
      </tr>
      <tr>
        <td data-column="First Name">SSLC</td>
        <td data-column="Last Name">CHSS</td>
        <td data-column="Job Title">STATE BOARD</td>
        <td data-column="Twitter">2014</td>
      </tr>
     
    </tbody>
  </table>
 